.create {
  width: 300px;
  min-height: 150px;
  margin-top: 2rem;

  border: 1px solid red;
}

@media (min-width: $tablet-widths) {
  .create {
    width: 500px;
  }
}

@media (min-width: $desktop-widths) {

}
