.notes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;

  height: 100%;
  margin: 5rem;

  border: 1px solid orange;
}

@media (min-width: $tablet-widths) {
  .notes {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
