.search {
  width: 100%;
  padding: 15px;

  background-color: $clean;
  border: none;
  font-size: $font-size-small;
}

.search:hover {
  box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
}

.search:focus {
  outline-color: fade_out($fresh, 0.5);
}
