.tags__modal {
  min-width: 300px;
  min-height: 100px;
  padding: $s-size;

  font-size: $font-size-small;
  background-color: $clean;
  box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
}

.tags__add {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tags__add input {
  background: none;
  border: none;
  flex-grow: 1;
}

.tags__add button:hover {
  font-weight: bold;
}

.tags__add button:active {
  font-weight: normal;
}

.tags__list {
  padding: $s-size;
}

.tags__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: $s-size;
}
