# Git Attributes
.env.development filter=firestoreDevelopmentAPIKey
.env.test.local filter=firestoreTestAPIKey
.env.development filter=gitHubToken
.env.production filter=firestoreProdAPIKey
src/testData/users.ts filter=testUserPass

* text=auto eol=lf
