# Git Attributes
.env.development filter=firestoreDevAPIKey
.env.test.local filter=firestoreTestAPIKey
.env.development filter=gitHubToken
.env.production filter=firestoreProdAPIKey

* text=auto eol=lf
