{
  "semi": true,
  "singleQuote": false,
  "printWidth": 80,
  "endOfLine": "lf",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "importOrder": ["^[a-z]", "^[@]", "^[.]"],
  "importOrderSeparation": true
}
