.header {
  background-color: $fresh;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content a {
    text-decoration: none;
  }

  &__title {
    display: none;
  }

  &__search {
    flex-grow: 1;

    margin: 0 $s-size;
  }

  @media (min-width: $tablet-widths) {
    &__title {
      display: block;
      margin: 0;

      color: $clean;
      text-decoration: none;
    }

    &__search {
      margin: 0 10rem;
    }
  }
}
