@import "../../base/variables";
@import "../../mixins/mixins";

.header {
  position: sticky;
  top: 0;
  z-index: 1000;
  background-color: $fresh;

  &__content {
    @include flex-row-between-center;
  }

  &__content a {
    text-decoration: none;
  }

  &__title {
    display: none;
  }

  &__search {
    flex-grow: 1;

    margin: 0 $s-size;
  }

  @media (min-width: $tablet-widths) {
    &__title {
      display: block;
      margin: 0;

      color: $grey-light;
      text-decoration: none;
    }
  }
}
