@import "../../base/variables";
@import "../../mixins/mixins";

.logout {
  @include flex-col-center-center;
  &__dialog {
    width: 320px;
    margin: 0 auto;
    padding: $l-size;
    background: $white;
    box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3),
      0 1px 3px 1px rgba(65, 69, 73, 0.15);
  }
}
