@import "../../mixins/mixins";
@import "../../base/variables";
@import "../../components/common/visibility";

.user-box {
  @include flex-row-between-center;

  &__link {
    font-size: $font-size-xlarge;

    text-decoration: underline;
    @extend .hide-for-mobile;
  }

  &__icon {
    @extend .hide-for-desktop;
  }

  &__photo {
    margin-right: $s-size;
  }

  &__photo img {
    @extend .hide-for-mobile;
    border-radius: 50%;
    width: 50px;
  }
}
