@import '../../mixins/mixins';
@import '../../base/variables';

.user-box {
  @include flex-row-between-center;

  &__link {
    font-size: $font-size-large;

    color: $clean;
    text-decoration: underline;
  }

  &__photo {
    margin-right: $s-size;
  }

  &__photo img {
    border-radius: 50%;
  }
}
