.tags-selection {
  display: none;

  position: absolute;

  width: 200px;
  padding: 5px;

  top: -130px;

  background-color: $clean;
  box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);

  &__options {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: $s-size;
  }

  &__option {
    display: flex;
    padding: 5px;

    position: relative;

    div {
      padding-left: $m-size;

      font-size: $font-size-small;
    }

    label {
      position: absolute;

      width: 20px;
      height: 20px;

      top: 5px;
      left: 0;

      background: #fcfff4;
      cursor: pointer;
      box-shadow: inset 0px 1px 1px white, 0px 1px 3px rgba(0,0,0,0.5);
      &:after {
        position: absolute;
        content: '';

        width: 9px;
        height: 5px;

        top: 6px;
        left: 6px;

        border: 3px solid #333;
        border-top: none;
        border-right: none;
        background: transparent;
        opacity: 0;
        transform: rotate(-45deg);
      }
      &:hover::after {
        opacity: 0;
      }
    }
    input[type=checkbox] {
      visibility: hidden;
      &:checked + label:after {
        opacity: 1;
      }
    }
  }
}
