@import "../../base/variables";
@import "../../mixins/mixins";

.ReactModalPortal {
  & > div {
    opacity: 0;
  }

  & .ReactModal__Overlay {
    @include flex-col-center-center;

    transition: opacity 200ms ease-in-out;
    z-index: 1000;
  }

  & .ReactModal__Overlay--after-open {
    opacity: 1;
  }

  & .ReactModal__Overlay--before-close {
    opacity: 0;
  }
}

.ReactModal__Content {
  width: 100%;
  height: 100%;

  @media (min-width: $tablet-widths) {
    height: auto;
  }
}
