@import "../../base/variables";

.sidebar {
  position: fixed;

  width: 300px;
  height: 100vh;
  padding: $s-size;

  background-color: $fresh;

  transform: translateX(-300px);
  transition: transform 0.2s linear;

  border-right: 1px solid $grey-light;

  z-index: 2000;

  &--show {
    transform: translateX(0);
    transition: transform 0.2s linear;
  }

  &__cover {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background-color: $grey-light;
    opacity: 0.7;
  }
}
