.login-page {
  @include extra-bg;

  &__box {
    width: 25rem;
    padding: $l-size $m-size;

    background: white;
    border-radius: 3px;
    text-align: center;
  }

  &__title {
    margin: 0 0 $m-size 0;

    line-height: 1;
  }
}
