@import "../../base/variables";
@import "../../mixins/mixins";
.collaborators-picker {
  width: 100%;
  &__wrapper {
    margin-bottom: $s-size;
  }
  &__checkbox {
    @include checkbox-field;
  }
  &__value {
    margin-left: $l-size;
  }
}
