.color-box {
  display: none;

  position: absolute;

  top: 40px;
  left: -15px;

  width: 150px;
  height: auto;
  padding: 10px;

  background-color: $clean;
  box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);

  & div {
    padding: 3px;
  }

  & input {
    display: none;
  }

  & label {
    width: 25px;
    height: 25px;
  }

  & label:active {
    opacity: .5;
  }

  & input:checked + label {
    border: 1px solid black;
  }
}
