@import "../../mixins/mixins";
@import "../../base/variables";

.confirm-dialog {
  &__title {
    font-size: $m-size;
    margin-bottom: $m-size;
  }

  &__wrapper {
    width: 100%;
  }

  &__button {
    width: 40%;

    @media (max-width: $mobile-widths) {
      & button {
        font-size: $s-size;
        padding-left: $xxs-size;
        padding-right: $xxs-size;
      }
    }
  }
}
