@import "../../mixins/mixins";
@import "../../base/variables";

.list-note-form-item {
  padding: $xs-size 0;

  &--checked {
    opacity: 0.3;
  }

  &:focus {
    padding-top: 11px;
    padding-bottom: 11px;

    border-bottom: 1px solid $grey-light;
    border-top: 1px solid $grey-light;
  }

  &:hover > * {
    visibility: visible;
  }

  &__remove {
    visibility: hidden;
    padding: 0;
    margin-right: 14px;
  }

  &__text {
    width: 80%;
    & textarea {
      width: 100%;

      margin: 0;
      padding: 0;

      font-size: $font-size-medium;

      border: none;
      background-color: inherit;

      outline: none;
      resize: none;
      overflow: hidden;
      cursor: text;
    }
  }

  &__check {
    @include checkbox-field;
    width: 20px;
  }
}
