.notes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: stretch;

  height: 100%;

  margin-right: 5rem;
  margin-left: 5rem;
}

@media (min-width: $tablet-widths) {
  .notes {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
