.note {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 45%;
  height: inherit;

  margin: 0.8rem;
  padding: $s-size;

  box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
  word-break: break-word;

  @media (min-width: $tablet-widths) {
    & {
      width: 240px;
    }
  }

  &:hover {
    box-shadow:  0 4px 4px 0 rgba(65,69,73,0.3), 0 4px 12px 4px rgba(65,69,73,0.15);
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    height: 100%;
  }

  &__details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__confirm {
    padding: $l-size;

    background-color: $fresh;
    font-size: $font-size-large;
    color: $white;
  }

  &__confirm div:first-child {
    margin-bottom: $l-size;
  }

  &__confirm div:last-child {
    display: flex;
    justify-content: space-between;
  }

  &__confirm button {
    width: 45%;
  }
}

.actions {
  &--important {
    color: $varmillion;
  }

  &--casual {
    color: $black;
  }

  &__remove-btn:hover {
    opacity: 0.3;
  }
}

.content {
  &__text {
    padding: $s-size 0;
    font-size: $font-size-small;
    line-height: 2rem;
  }

  &__title {
    margin-top: $m-size;

    font-size: $font-size-large;
    font-weight: bold;
    line-height: 2rem;
  }
}

.details {
  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
  }

  &__tags div {
    margin: calc(#{$s-size} / 3);
    padding: calc(#{$s-size} / 3);

    background-color: $grey-light;
    border-radius: 1rem;
    color: $white;
  }
}
