@import "../../base/variables";
.note-modal {
  &__container {
    width: 95vw;
    margin-top: $m-size;
    margin-bottom: $m-size;

    background-color: $white;
    box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);

    @media (min-width: $tablet-widths) {
      & {
        width: 500px;
      }
    }
  }
}
