
.ReactModalPortal > div {
  opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay  {
  display: flex;
  justify-content: center;
  align-items: center;

  transition: opacity 200ms ease-in-out;
  overflow-y: auto;
}

.ReactModalPortal .ReactModal__Overlay--after-open  {
  opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close  {
  opacity: 0;
}

.modal {
  max-width: 30rem;
display: block;
  padding: $s-size;

  text-align: center;
  background: $clean;
  color: white;
  outline: none;
}
