@import "../../base/variables";
@import "../../mixins/mixins";

.note-form {
  height: 100%;
  @include flex-col-between-between;
  &__text,
  &__list {
    max-height: calc(100vh - 350px);
    overflow-y: auto;
    flex-grow: 1;

    @media (max-width: $tablet-widths) {
      max-height: 100%;
    }
  }

  &__title input,
  &__text textarea {
    width: 100%;
    padding: 0;

    border: none;
    outline: none;
    background-color: inherit;

    cursor: text;
  }

  &__title input {
    font-weight: bold;
    font-size: $font-size-large;
  }

  &__text textarea {
    min-height: 100px;
    font-size: $font-size-medium;
    line-height: 1.6;
    resize: none;
    overflow: hidden;
  }

  &__actions {
    border-top: 1px solid $clean;
  }
}

.actions {
  &__options {
    flex-grow: 1;
  }

  &__buttons {
    width: 50%;

    @media (min-width: $tablet-widths) {
      width: 35%;
    }

    @media (min-width: $desktop-widths) {
      width: 30%;
    }
  }
}

.options {
  &__item {
    margin: $s-size;
    & input {
      display: none;
    }

    & label {
      display: block;
      transition: transform 300ms ease-in-out;

      &:hover {
        transform: scale(1.2);
        transition: transform 300ms ease-in-out;
      }

      &:active {
        opacity: 0.5;
      }
    }

    & input:checked + label.icon-button--radio {
      border: 1px solid black;
    }
  }
}

.example-appear {
  opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
