@import "../../base/variables";

.note {
  position: relative;

  min-width: 120px;
  height: inherit;

  padding: $s-size;

  box-shadow: 0 1px 1px 0 rgba(65, 69, 73, 0.3),
    0 1px 3px 1px rgba(65, 69, 73, 0.15);
  word-break: break-word;
  border-radius: 5px;

  @media (min-width: $mobile-widths) {
    & {
      width: 240px;
    }
  }

  @media (min-width: $tablet-widths) {
    & {
      width: 100%;
    }
  }

  @media (max-width: $mobile-widths) {
    & {
      padding: $xxs-size;
    }
  }

  &:hover {
    box-shadow: 0 4px 4px 0 rgba(65, 69, 73, 0.3),
      0 4px 12px 4px rgba(65, 69, 73, 0.15);
  }

  &__actions {
    display: flex;
    justify-content: space-between;
  }

  &__content {
    height: 100%;
  }

  &__tag {
    padding: 0 $xxs-size;

    margin-right: $xxs-size;
    margin-bottom: $xxs-size;
    color: $white;
    background-color: rgba($grey-light, 0.8);
    border: 1px solid transparent;
    border-radius: 10px;

    @media (max-width: $mobile-widths) {
      & {
        font-size: $s-size;
      }
    }
  }

  &__confirm {
    position: absolute;

    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    background-color: rgba($grey-light, 0.8);
  }
}

.actions {
  &__archive {
    padding-top: 0;
  }

  &__important {
    padding-left: 0;
    padding-top: 0;
  }

  &__remove {
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
  }
}

.content {
  &__text {
    padding: $s-size 0;
    font-size: $font-size-small;
    line-height: 2rem;

    white-space: pre-wrap;
  }

  &__image {
    & img {
      width: 100%;
      margin-top: $s-size;
    }
  }

  &__list {
    padding-left: 0;
    list-style: none;

    & li {
      display: flex;
      align-items: flex-start;
    }

    & li .list__text {
      padding-left: $s-size;
    }

    & li .list__box {
      min-width: 15px;
      height: 15px;

      margin-top: 3px;

      border: 2px solid $grey-light;
      border-radius: 50%;
    }
    .list__box--checked {
      background-color: $grey-light;
    }
  }

  &__title {
    margin: 0;

    font-size: $font-size-large;
    font-weight: bold;
    line-height: 2rem;
  }
}

.details {
  &__date {
    font-size: $font-size-xsmall;
  }

  &__tags {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-top: $xxs-size;
  }
}
