@import "../../base/variables";
@import "../../mixins/mixins";
.tags-picker {
  width: 100%;
  &__wrapper {
    width: 50%;
    margin-bottom: $s-size;
  }
  &__checkbox {
    @include checkbox-field;
  }
  &__value {
    margin-left: $l-size;
  }
}
