@import '../mixins/mixins';
@import '../base/variables';

.icon-button {
  @include button;

  background: none;
  color: $grey-light;
  transition: color 500ms ease;

  &:hover {
    color: lighten($grey-light, 20%);
    transition: color 500ms ease;
  }
}
