@import '../mixins/mixins';
@import '../base/variables';

.login-button {
  @include button;

  width: 100%;
  box-shadow: 0 1px 1px 0 rgba(65,69,73,0.3), 0 1px 3px 1px rgba(65,69,73,0.15);
  transition: background 500ms ease, transform 500ms ease;

  &:hover {
    background: lighten($sunshine, 20);
    transition: background 500ms ease;
  }

  &:active {
    background: $sunshine;
    transform: scale(0.98);
    transition: background 500ms ease, transform 500ms ease;
  }
}
