// Colors
$varmillion: #fc4a1a;
$sunshine: #f7b733;
$fresh: #4abdac;
$clean: #dfdce3;
$black: rgba(0,0,0,0.87);
// Font Size
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;
// Spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;

$tablet-widths: 767px;
$desktop-widths: 991px;

$header-height: 75px;
